.services {
  width: 100%;
  padding: 80px 0;

  background: #ffffff;
}

.services-container {
  width: min(1180px, calc(100% - 64px));
  margin: 0 auto;

  display: grid;
  grid-template-columns: 0.9fr 1.6fr;

  gap: 55px;

  align-items: center;
}

.services-intro {
  max-width: 400px;
}

.services-tag {
  display: block;

  margin-bottom: 12px;

  color: #39aaf0;

  font-size: 13px;
  font-weight: 800;

  text-transform: uppercase;
  letter-spacing: 1px;
}

.services-intro h2 {
  margin: 0;

  color: #06233b;

  font-size: 34px;
  line-height: 1.15;
  font-weight: 800;
  letter-spacing: -0.8px;
}

.services-intro p {
  margin: 18px 0 0;

  color: #607080;

  font-size: 15px;
  line-height: 1.65;
}

/* CARDS */

.services-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 14px;
}

.service-card {
  min-height: 155px;

  padding: 24px 18px;

  border-radius: 14px;

  background: #edf7fd;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  transition: 0.25s ease;
}

.service-card:hover {
  transform: translateY(-4px);

  box-shadow: 0 10px 30px rgba(3, 29, 50, 0.08);
}

.service-icon {
  width: 48px;
  height: 48px;

  margin-bottom: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #168ed1;

  font-size: 28px;
}

.service-card h3 {
  margin: 0 0 7px;

  color: #06233b;

  font-size: 14px;
  font-weight: 800;
}

.service-card p {
  margin: 0;

  color: #71808d;

  font-size: 11px;
  line-height: 1.4;
}

/* TABLET */

@media (max-width: 950px) {
  .services-container {
    grid-template-columns: 1fr;

    gap: 35px;
  }

  .services-intro {
    max-width: 600px;
  }

  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* CELULAR */

@media (max-width: 650px) {
  .services {
    padding: 60px 0;
  }

  .services-container {
    width: calc(100% - 30px);
  }

  .services-intro h2 {
    font-size: 29px;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .service-card {
    min-height: 145px;
    padding: 18px 12px;
  }

  .service-icon {
    font-size: 25px;
  }
}